@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --plf-grey: #DEDFDE;
  --plf-blue-light: #3979F4;
  --plf-blue-dark: #2051B0;
  --plf-green-dark: #1C521E;
  --plf-green-light: #2DE929;
  --plf-red-light: #F43939;
}

html,body{
  @apply bg-[var(--plf-grey)];
}

input,select,textarea{
  @apply rounded-md;
}

button{
  @apply p-2 rounded-md flex items-center justify-center whitespace-nowrap h-12 hover:opacity-80;
}

::-webkit-scrollbar{
  @apply w-2 h-2;
}

::-webkit-scrollbar-track{
  @apply bg-transparent m-0;
}

::-webkit-scrollbar-thumb{
  @apply border-gray-700 bg-gray-600 rounded-full border-4;
}

::-webkit-scrollbar-thumb:hover{
  @apply bg-gray-500;
}

.icon-caret-right{
  @apply bg-icon-caret-right bg-no-repeat bg-center;
}

.icon-caret-left{
  @apply bg-icon-caret-right bg-no-repeat bg-center rotate-180;
}